<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow d-flex justify-content-between ">
    <div class="text-white" style="padding-left:10px;">
        <h5 class="fw-normal">Graphic Dashboard <small>1.0.1</small> </h5>
    </div>
    <div class="text-white" style="padding-right: 5px;">
        <a data-toggle="tooltip" data-placement="top" title="Settings"><i class="fas fa-cog"></i></a>
        &nbsp;&nbsp;
        <a data-toggle="tooltip" data-placement="top" title="Sync"><i class="fas fa-sync"></i></a>
        &nbsp;&nbsp;
        <a data-toggle="tooltip" data-placement="top" title="Sign Out"><i class="fas fa-sign-out-alt"></i></a>
        &nbsp;&nbsp;
    </div>


</nav>
<!-- /.navbar -->